<?xml version="1.0" encoding="UTF-8"?>
<phpunit backupGlobals="false"
         backupStaticAttributes="false"
         bootstrap="autoload.php"
         colors="true"
         convertErrorsToExceptions="true"
         convertNoticesToExceptions="true"
         convertWarningsToExceptions="true"
         processIsolation="false"
         stopOnFailure="false"
         stopOnError="false"
         verbose="true"
>
    <testsuites>
        <testsuite name="cookie">
            <directory prefix="Test" suffix=".php">./tests/</directory>
        </testsuite>
    </testsuites>
    <filter>
        <whitelist processUncoveredFilesFromWhitelist="true">
            <directory suffix=".php">./src/</directory>
            <exclude>
                <directory prefix="examples-" suffix=".php">./examples/</directory>
            </exclude>
        </whitelist>
    </filter>
    <logging>
        <log type="coverage-html"
             target="./report/coverage/html"
             lowUpperBound="35"
             highLowerBound="70"
        />
        <log type="coverage-clover"
             target="./report/coverage.xml"
        />
    </logging>
</phpunit>